body{
    /*margin-top: 15px;
    margin-left: 15px;*/
    background-color: #33353a;
    overflow:hidden;
    font-family: "Trebuchet MS";
}
p{
  margin:0;
}
/*login form*/
#loginForm{
    color: white;
    margin-top: 15px;
}





/**==========right side of chat with messages========**/

/**footer is where you type in the message*/
#footer{
      bottom: 0;
      width: 100%;
     float: left;
     background-color: gray;
}

.form-group{
  margin-bottom: 20px;
}
/*space with the chat messages*/

.col-md-8{
  padding: 0;
  /*width: 164.8vh;*/
  width: 100vh;
}
#chatContent{
    background-color: #7e8691;
    height: 95.2vh;
    overflow-y: scroll;

}
.settings{
    background-color: #2d2e30;
    color: white;
    margin: 0;
    padding-left: 15px;
    font-size: 20px;
}

.ownChatMessage{
    padding : 5px;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid lightgrey;
    width: 45vh;
    margin-right: 30px;
    position: relative;
    background: white;
	  border-radius: .4em;
    margin-bottom: 10px;
}

.ownChatMessage:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 26px solid transparent;
	border-left-color: white;
	border-right: 0;
	margin-top: -26px;
	margin-right: -26px;
}

.otherChatMessage{
    padding : 5px;
    color: black;
    font-size: 20px;
    border-bottom: 1px solid lightgrey;
    width: 45vh;
    margin-left: 30px;
    position: relative;
    background: white;
	  border-radius: .4em;
    margin-bottom: 10px;
}


.otherChatMessage:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 26px solid transparent;
	border-right-color: white;
	border-left: 0;
	margin-top: -26px;
	margin-left: -26px;
}
#username{
  font-size: 25px;
  padding-left: 13px;
}

#messageContent{
  font-size: 20px;
  padding-left: 13px;
  padding-right: 13px;
}

#timestamp{
  font-size: 15px;
  padding-right: 7px;
  text-align: right;
}

.container{
    background-color: #7e8691;
    width: 100%;
    height: 100%;
}

.userUpdate{
  padding: 5px;
  animation: fadein 1s;
  text-align: center;
  font-size: 20px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.input-sm{
  width: 80% ;
}

/*===========users===========*/

.settings{
  font-size: 40px;
}

/*#sendMessageButton{
  border-radius: 28px;
  box-shadow: 0px 1px 3px #666666;
  color: #ffffff;
  font-size: 20px;
  background: #4768F3;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}*/

#users{
    font-size: 24px;
}

#onlineUser{
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

#onlineUsersWrapper{
    height: 100vh;
    width: 40vh;
    margin: 0;
    background-color: #4768F3;
    color: white;
    overflow-y: scroll;
}

.userNameDiv{
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid white;
    padding: 5px;
    height: 40px;
    margin-bottom: 10px;
}

.line{
    opacity: 0.3;
}


/**scrollbar styles**/
::-webkit-scrollbar {
  display: none;
  width: 10px;
}
/*::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;*/
